html, body {
    height: 100%;
    box-sizing: border-box;
    font-family: "Roboto";
    font-style: 14px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body.homepage {
  background-image:  url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main{
  width: 450px;
  margin: auto;
  position: relative;
    top: 50%;
    transform: translateY(-35%);
}

.logo{
  font-size: 50px;
  color: white;
  margin-bottom: 15px;
  margin-top: 0;

}

.tagline{
  font-size: 20px;
  color: white;
}

.button{
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover{
  background: white;
  color: blueviolet;
}
/*

  chatpage

  */

  .member-area{
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    background: darkblue;
  }
  .user-info{
    /*  */
    background: gray;
    padding: 10px 20px;
  }

  .logout{
    float: right;
  }

  .member{
    padding: 15px;
    border-bottom: solid 1px gray;
  }

  .member:hover{
    background: gray;
    color: white;

  }
  .member.active{
    background-color: azure;
    font-weight: bold;
    color: darkblue ;
  }

  .messages-area{
    background-color: azure;
    position: fixed;
    left: 30%;
    top: 0;
    bottom: 0;
    width: 70%;
  }

  .chat-info{
    background-color: asure;
    padding: 10px;
    color: black;
  }

  .messages{
    background: lightblue;
    height: 100%;
    padding: 10px;
    overflow: auto;
}
  .message{
    background: #d7ebf1;
    padding: 10px;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 200px;

  }

  .message.byuser{
    background: darkgray;
    padding: 10px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;

  }

  .chat-form{
    position: fixed;
    left: 30%;
    bottom: 0;
    width: 70%;
    background: white;
    padding: 20px;

  }
  .chat-message{
    padding: 10px;
    border: solid 1px lightgray;
    border-radius: 4px;
    display: block;
    width: 100%;
  }
